# File download and handling
gdown
fastapi
requests
uvicorn
gradio

# Machine Learning & NLP
torch
numpy
pandas
scikit-learn
scipy
gensim
transformers
spacy
nltk
language-tool-python

# Ensure required NLTK data is downloaded
nltk[wordnet]
